.Container {
    width: 300px;
    font-size: 12px;
}

.Container legend {
    font-size: 14px;
}

.btCt {
    position: relative;
}

.loadArcacon {
    width: 180px;
    height: 30px;
    font-size: 13.5px;
}

.contact {
    position: absolute;
    right: 0;
    bottom: 0;
}

.loadDelayCt {
    display: none;
}

.loadDelay {
    width: 40px;
    text-align: center;
    outline: 0;
    border-width: 0 0 3px;
    transition: width .2s, border-color .2s;
}

.loadDelay:focus {
    width: 45px;
    border-color: black;
}

.loadProgress {
    height: 35px;
    width: 100%;
    position: relative;
    text-align: center;
    accent-color: grey;
}

.loadProgress:before {
    content: attr(data-label);
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
